<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BlackUrlMapper">

    <select id="getBlackUrls" resultType="com.example.demo.vo.BlackUrl">
        SELECT B.*
            , '${_skiprows}' AS skiprows
            , '${_pagesize}' AS pagesize
          FROM black_url B
        ORDER BY B.apply_fromdt ASC
    </select>

</mapper>